
:root{
    --back-color:#DC3545
}

.error{
    color: var(--back-color)
}

.inputs{
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    border: 2px gray solid;
}

.titles {
    font-family: 'Rubik';
    
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1.3s ease;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }