
:root{
    --back-color:#DC3545
}

.error{
    color: var(--back-color)
}

.inputs{
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    border: 2px gray solid;
}

.titles {
    font-family: 'Rubik';
    
}